/* styles.css o tu archivo de estilos */
/* .comprobante {
    border: 1px solid #ccc;
    padding: 16px;
    margin-top: 16px;
    background-color: #f9f9f9;
}

.comprobante h2 {
    margin-bottom: 16px;
}

.comprobante p {
    margin: 4px 0;
} */


/* Comprobante.css */
/* .comprobante {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
}

.comprobante h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.comprobante-detalle {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.comprobante-detalle p {
    font-size: 16px;
    margin: 10px 0;
    color: #555;
}

.comprobante-detalle span {
    font-weight: bold;
    color: #333;
}

.comprobante p {
    text-align: center;
    font-size: 16px;
    color: #888;
} */


/* Comprobante.css */
/* .comprobante {
    padding: 20px;
}

.comprobante-detalle {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.comprobante-detalle p {
    margin: 5px 0;
}

.comprobante-detalle span {
    font-weight: bold;
} */



/* 
.comprobante-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid  #e82e7b ;
    border-radius: 5px;
    background-color:  #fcf4fc ;
    
}

.clase-fondo{
    background-color:  #fce4f4 
}

.comprobante-title {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;

}

.comprobante-detalle {
    margin-bottom: 30px;
}

.liquidation-list-title {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.liquidation-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.no-data-message {
    font-style: italic;
    text-align: center;
} */



/* *****************************************
 */


.comprobante-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.comprobante-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.comprobante-detalle {
    margin-bottom: 30px;
}

.liquidation-list-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.liquidation-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.no-data-message {
    font-style: italic;
}
