.comprobante {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fceaf6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Fondo-comprobante {
    background: radial-gradient(circle, #d3cfce, #eccce4, #dfd7d5); 
}

.comprobante h2 {
    text-align: center;
    color: #949292;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 35px;
}

.comprobante-detalle {
    background-color: #e9e9e9;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #e82e7b;
}

.comprobante-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.comprobante-label {
    font-weight: bold;
    color: #555;
}

.comprobante-value {
    color: #000;
}

p {
    text-align: center;
    color: #666;
}