html {
  background-image: url("/public/blanco.jpg");
  background-position: center center;
  background-size: cover;
}
.container {
  margin: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  font-family: system-ui;
}

.bienvenida {
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
 
  display: inline-block;
  font-family: Monospace;
  border-right: 2.5px solid #e68cc0;
  animation: cursor 0.5s infinite, bienvenida 3.5s steps(16, end);
  white-space: nowrap;
  overflow: hidden;
  font-size: 15px;
}
@keyframes cursor {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #e68cc0;
  }
}
@keyframes bienvenida {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.submit-btn {
  background-color:  #e82e7b;
  color: white;
  font-weight: 500;
  font-size: 14pt;
  text-align: center;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 13px;
  font-family: "Lucida Console", Courier, monospace;
}
.submit-btn:hover {
  opacity: 0.75;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.section-inputs {
  display: flex;
  gap: 20px;
  width: 120%; /* Esto establece el ancho del contenedor */
  border-radius: 1%;
  flex-direction: column;
  font-family: "Lucida Console", Courier, monospace;
}

label input {
  width: 100%; /* Este valor hace que los inputs ocupen todo el ancho del contenedor */
  background-color:  #fce1f3 ;
  border: solid 1px transparent;
  padding: 9px 15px;
  border-radius: 8px;
  outline: none;
  font-size: 14pt;
  color: black;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 15px;
}

label input:hover {
  background-color: #fce1f3 (74, 227, 238);
  border: solid 1px #fce1f3 (189, 223, 224);
  box-shadow: 0 0 4px #fce1f3 ;
}
.simulador {
  font-family: system-ui;
  height: 35px;
  font-size: 20px;
  text-align: center;
}
.botonlogin {
  font-family: "Lucida Console", Courier, monospace;
  text-align: center;
  height: 25px;
  width:200px;
  border-color: #e82e7b ;
  border-radius: 30px;
}
.recuperarContrasena {
  font-style: initial;
  font-size:20px;
  text-align: center;
  color: #e82e7b;
}
.centro {
  margin: 50px;
}
.table th {
  border: 1px solid #f1e6ee(73, 183, 211);
  padding: 8px;
  text-align: center;
  background-color: #f1e6ee;
}
.text-pattern {
  color: transparent;
  background-color:  #e82e7b;
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 25px,
    #f1e6ee(41, 80, 187, 0.5) 25px,
    #f1e6ee(255, 255, 255, 0.5) 50px
  );
  background-clip: text;
  animation: color 50s linear infinite;
  background-size: 200%;
  font-size: 50px;
  text-align: center;
}

@keyframes color {
  from {
    background-position: 0% 50%;
  }

  to {
    background-position: 100% 50%;
  }
}
